In [58]:
pip install pandas pandasai anthropic

Requirement already satisfied: pandas in ./venv/lib/python3.12/site-packages (1.5.3)
Requirement already satisfied: pandasai in ./venv/lib/python3.12/site-packages (2.3.2)
Requirement already satisfied: anthropic in ./venv/lib/python3.12/site-packages (0.71.0)
Requirement already satisfied: numpy>=1.21.0 in ./venv/lib/python3.12/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: astor<0.9.0,>=0.8.1 in ./venv/lib/python3.12/site-packages (from pandasai) (0.8.1)
Requirement already satisfied: duckdb<2.0.0,>=1.0.0 in ./venv/lib/python3.12/site-packages (from pandasai) (1.4.1)
Requirement already satisfied: faker<20.0.0,>=19.12.0 in ./venv/lib/python3.12/site-packages (from pandasai) (19.13.0)
Requirement already satisfied: jinja2<4.0.0,>=3.1.3 in ./venv/lib/python3.12/site-packages (from pandasai) (3.1.6)
Requirement already satisfied: matplotlib<4.0.0,>=3.7.1 in ./venv/lib/python3.12/site-packages (from pandasai) (3.10.7)
Requirement already satisfied: openai<2 in ./venv/lib/python3.12/site-packages (from pandasai) (1.109.1)
Requirement already satisfied: pillow<11.0.0,>=10.1.0 in ./venv/lib/python3.12/site-packages (from pandasai) (10.4.0)
Requirement already satisfied: pydantic<3,>=1 in ./venv/lib/python3.12/site-packages (from pandasai) (2.12.3)
Requirement already satisfied: python-dotenv<2.0.0,>=1.0.0 in ./venv/lib/python3.12/site-packages (from pandasai) (1.1.1)
Requirement already satisfied: requests<3.0.0,>=2.31.0 in ./venv/lib/python3.12/site-packages (from pandasai) (2.32.5)
Requirement already satisfied: sqlalchemy<3,>=1.4 in ./venv/lib/python3.12/site-packages (from pandasai) (2.0.44)
Requirement already satisfied: sqlglot<26.0.0,>=25.0.3 in ./venv/lib/python3.12/site-packages (from sqlglot[rs]<26.0.0,>=25.0.3->pandasai) (25.34.1)
Requirement already satisfied: MarkupSafe>=2.0 in ./venv/lib/python3.12/site-packages (from jinja2<4.0.0,>=3.1.3->pandasai) (3.0.3)
Requirement already satisfied: contourpy>=1.0.1 in ./venv/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (1.3.3)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./venv/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./venv/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (1.4.9)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (25.0)
Requirement already satisfied: pyparsing>=3 in ./venv/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (3.2.5)
Requirement already satisfied: anyio<5,>=3.5.0 in ./venv/lib/python3.12/site-packages (from openai<2->pandasai) (4.11.0)
Requirement already satisfied: distro<2,>=1.7.0 in ./venv/lib/python3.12/site-packages (from openai<2->pandasai) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in ./venv/lib/python3.12/site-packages (from openai<2->pandasai) (0.28.1)
Requirement already satisfied: jiter<1,>=0.4.0 in ./venv/lib/python3.12/site-packages (from openai<2->pandasai) (0.11.1)
Requirement already satisfied: sniffio in ./venv/lib/python3.12/site-packages (from openai<2->pandasai) (1.3.1)
Requirement already satisfied: tqdm>4 in ./venv/lib/python3.12/site-packages (from openai<2->pandasai) (4.67.1)
Requirement already satisfied: typing-extensions<5,>=4.11 in ./venv/lib/python3.12/site-packages (from openai<2->pandasai) (4.15.0)
Requirement already satisfied: idna>=2.8 in ./venv/lib/python3.12/site-packages (from anyio<5,>=3.5.0->openai<2->pandasai) (3.11)
Requirement already satisfied: certifi in ./venv/lib/python3.12/site-packages (from httpx<1,>=0.23.0->openai<2->pandasai) (2025.10.5)
Requirement already satisfied: httpcore==1.* in ./venv/lib/python3.12/site-packages (from httpx<1,>=0.23.0->openai<2->pandasai) (1.0.9)
Requirement already satisfied: h11>=0.16 in ./venv/lib/python3.12/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai<2->pandasai) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in ./venv/lib/python3.12/site-packages (from pydantic<3,>=1->pandasai) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in ./venv/lib/python3.12/site-packages (from pydantic<3,>=1->pandasai) (2.41.4)
Requirement already satisfied: typing-inspection>=0.4.2 in ./venv/lib/python3.12/site-packages (from pydantic<3,>=1->pandasai) (0.4.2)
Requirement already satisfied: charset_normalizer<4,>=2 in ./venv/lib/python3.12/site-packages (from requests<3.0.0,>=2.31.0->pandasai) (3.4.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./venv/lib/python3.12/site-packages (from requests<3.0.0,>=2.31.0->pandasai) (2.5.0)
Requirement already satisfied: sqlglotrs==0.3.0 in ./venv/lib/python3.12/site-packages (from sqlglot[rs]<26.0.0,>=25.0.3->pandasai) (0.3.0)
Requirement already satisfied: docstring-parser<1,>=0.15 in ./venv/lib/python3.12/site-packages (from anthropic) (0.17.0)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.1->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [85]:
pip install --upgrade "pandas<2.2.0" "pandasai==2.1.1"

Requirement already satisfied: pandas<2.2.0 in ./venv/lib/python3.12/site-packages (1.5.3)
Collecting pandas<2.2.0
  Downloading pandas-2.1.4-cp312-cp312-macosx_11_0_arm64.whl.metadata (18 kB)
Requirement already satisfied: pandasai==2.1.1 in ./venv/lib/python3.12/site-packages (2.1.1)
Requirement already satisfied: astor<0.9.0,>=0.8.1 in ./venv/lib/python3.12/site-packages (from pandasai==2.1.1) (0.8.1)
Requirement already satisfied: duckdb<1 in ./venv/lib/python3.12/site-packages (from pandasai==2.1.1) (0.10.3)
Requirement already satisfied: faker<20.0.0,>=19.12.0 in ./venv/lib/python3.12/site-packages (from pandasai==2.1.1) (19.13.0)
Requirement already satisfied: jinja2<4.0.0,>=3.1.3 in ./venv/lib/python3.12/site-packages (from pandasai==2.1.1) (3.1.6)
Requirement already satisfied: matplotlib<4.0.0,>=3.7.1 in ./venv/lib/python3.12/site-packages (from pandasai==2.1.1) (3.10.7)
Requirement already satisfied: openai<2 in ./venv/lib/python3.12/site-packages (from pandasai==2.1.1) (1.109.1)
Requirement already satisfied: pillow<11.0.0,>=10.1.0 in ./venv/lib/python3.12/site-packages (from pandasai==2.1.1) (10.4.0)
Requirement already satisfied: pydantic<3,>=1 in ./venv/lib/python3.12/site-packages (from pandasai==2.1.1) (2.12.3)
Requirement already satisfied: python-dotenv<2.0.0,>=1.0.0 in ./venv/lib/python3.12/site-packages (from pandasai==2.1.1) (1.1.1)
Requirement already satisfied: requests<3.0.0,>=2.31.0 in ./venv/lib/python3.12/site-packages (from pandasai==2.1.1) (2.32.5)
Requirement already satisfied: scipy<2.0.0,>=1.9.0 in ./venv/lib/python3.12/site-packages (from pandasai==2.1.1) (1.16.2)
Requirement already satisfied: sqlalchemy<3,>=1.4 in ./venv/lib/python3.12/site-packages (from pandasai==2.1.1) (2.0.44)
Requirement already satisfied: numpy>=1.21.0 in ./venv/lib/python3.12/site-packages (from pandas<2.2.0) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.12/site-packages (from pandas<2.2.0) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.12/site-packages (from pandas<2.2.0) (2025.2)
Requirement already satisfied: MarkupSafe>=2.0 in ./venv/lib/python3.12/site-packages (from jinja2<4.0.0,>=3.1.3->pandasai==2.1.1) (3.0.3)
Requirement already satisfied: contourpy>=1.0.1 in ./venv/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai==2.1.1) (1.3.3)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai==2.1.1) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./venv/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai==2.1.1) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./venv/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai==2.1.1) (1.4.9)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai==2.1.1) (25.0)
Requirement already satisfied: pyparsing>=3 in ./venv/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai==2.1.1) (3.2.5)
Requirement already satisfied: anyio<5,>=3.5.0 in ./venv/lib/python3.12/site-packages (from openai<2->pandasai==2.1.1) (4.11.0)
Requirement already satisfied: distro<2,>=1.7.0 in ./venv/lib/python3.12/site-packages (from openai<2->pandasai==2.1.1) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in ./venv/lib/python3.12/site-packages (from openai<2->pandasai==2.1.1) (0.28.1)
Requirement already satisfied: jiter<1,>=0.4.0 in ./venv/lib/python3.12/site-packages (from openai<2->pandasai==2.1.1) (0.11.1)
Requirement already satisfied: sniffio in ./venv/lib/python3.12/site-packages (from openai<2->pandasai==2.1.1) (1.3.1)
Requirement already satisfied: tqdm>4 in ./venv/lib/python3.12/site-packages (from openai<2->pandasai==2.1.1) (4.67.1)
Requirement already satisfied: typing-extensions<5,>=4.11 in ./venv/lib/python3.12/site-packages (from openai<2->pandasai==2.1.1) (4.15.0)
Requirement already satisfied: idna>=2.8 in ./venv/lib/python3.12/site-packages (from anyio<5,>=3.5.0->openai<2->pandasai==2.1.1) (3.11)
Requirement already satisfied: certifi in ./venv/lib/python3.12/site-packages (from httpx<1,>=0.23.0->openai<2->pandasai==2.1.1) (2025.10.5)
Requirement already satisfied: httpcore==1.* in ./venv/lib/python3.12/site-packages (from httpx<1,>=0.23.0->openai<2->pandasai==2.1.1) (1.0.9)
Requirement already satisfied: h11>=0.16 in ./venv/lib/python3.12/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai<2->pandasai==2.1.1) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in ./venv/lib/python3.12/site-packages (from pydantic<3,>=1->pandasai==2.1.1) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in ./venv/lib/python3.12/site-packages (from pydantic<3,>=1->pandasai==2.1.1) (2.41.4)
Requirement already satisfied: typing-inspection>=0.4.2 in ./venv/lib/python3.12/site-packages (from pydantic<3,>=1->pandasai==2.1.1) (0.4.2)
Requirement already satisfied: charset_normalizer<4,>=2 in ./venv/lib/python3.12/site-packages (from requests<3.0.0,>=2.31.0->pandasai==2.1.1) (3.4.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./venv/lib/python3.12/site-packages (from requests<3.0.0,>=2.31.0->pandasai==2.1.1) (2.5.0)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.1->pandas<2.2.0) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [82]:
df

,pair_id,total_price,airline,from_out,to_out,depart_time_out,arrive_time_out,duration_min_out,layovers_out,from_ret,to_ret,depart_time_ret,arrive_time_ret,duration_min_ret,layovers_ret,outbound_idx
0,2,570,Delta,OAK,EWR,2025-11-07 05:55:00,2025-11-07 17:45:00,530,['SLC'],EWR,OAK,2025-11-14 06:51:00,2025-11-14 11:48:00,477,['SLC'],1
1,4,712,Alaska,OAK,EWR,2025-11-07 06:30:00,2025-11-07 18:29:00,539,['SEA'],EWR,OAK,2025-11-14 07:30:00,2025-11-14 23:59:00,1169,['SEA'],4
2,3,628,Alaska,OAK,EWR,2025-11-07 14:49:00,2025-11-08 05:59:00,730,['SEA'],EWR,OAK,2025-11-14 07:30:00,2025-11-14 23:59:00,1169,['SEA'],3
3,5,914,Alaska,OAK,EWR,2025-11-07 19:12:00,2025-11-08 11:15:00,783,"['PDX', 'ORD']",EWR,OAK,2025-11-14 07:30:00,2025-11-14 23:59:00,1169,['SEA'],5
4,1,437,Alaska,OAK,EWR,2025-11-07 20:03:00,2025-11-08 17:06:00,1083,['SEA'],EWR,OAK,2025-11-14 07:30:00,2025-11-14 23:59:00,1169,['SEA'],0
5,6,1058,Alaska,OAK,EWR,2025-11-07 20:03:00,2025-11-08 11:15:00,732,"['SEA', 'ORD']",EWR,OAK,2025-11-14 07:30:00,2025-11-14 23:59:00,1169,['SEA'],6

In [83]:
def sanitize_for_pandasai(df):
    # Drop the pandas Index object entirely
    df = df.reset_index(drop=True).copy()

    # Convert datetimes to ISO strings
    for c in df.select_dtypes(include=["datetime64[ns]"]).columns:
        df[c] = df[c].astype(str)

    # Flatten lists / dicts
    for c in df.columns:
        df[c] = df[c].apply(lambda x: ", ".join(x) if isinstance(x, list)
                            else str(x) if isinstance(x, dict) or pd.isna(x)
                            else x)
    return df

df = sanitize_for_pandasai(df)

In [26]:
from pandasai import SmartDataframe
from pandasai.llm import OpenAI
import pandas as pd

# Load your data

# Connect your OpenAI model
llm = OpenAI(api_token="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", model="gpt-4")

# Wrap your DataFrame
sdf = SmartDataframe(df, config={"llm": llm})

# Ask natural language questions!
response = sdf.chat("Which airline offers the most expensive round trip flight, and what is its price?")
print(response)

The most expensive round trip flight is offered by Alaska and its price is 1058.

In [23]:
df

,pair_id,total_price,airline,from_out,to_out,depart_time_out,arrive_time_out,duration_min_out,layovers_out,from_ret,to_ret,depart_time_ret,arrive_time_ret,duration_min_ret,layovers_ret,outbound_idx
0,2,570,Delta,OAK,EWR,2025-11-07 05:55:00,2025-11-07 17:45:00,530,SLC,EWR,OAK,2025-11-14 06:51:00,2025-11-14 11:48:00,477,SLC,1
1,4,712,Alaska,OAK,EWR,2025-11-07 06:30:00,2025-11-07 18:29:00,539,SEA,EWR,OAK,2025-11-14 07:30:00,2025-11-14 23:59:00,1169,SEA,4
2,3,628,Alaska,OAK,EWR,2025-11-07 14:49:00,2025-11-08 05:59:00,730,SEA,EWR,OAK,2025-11-14 07:30:00,2025-11-14 23:59:00,1169,SEA,3
3,5,914,Alaska,OAK,EWR,2025-11-07 19:12:00,2025-11-08 11:15:00,783,"PDX, ORD",EWR,OAK,2025-11-14 07:30:00,2025-11-14 23:59:00,1169,SEA,5
4,1,437,Alaska,OAK,EWR,2025-11-07 20:03:00,2025-11-08 17:06:00,1083,SEA,EWR,OAK,2025-11-14 07:30:00,2025-11-14 23:59:00,1169,SEA,0
5,6,1058,Alaska,OAK,EWR,2025-11-07 20:03:00,2025-11-08 11:15:00,732,"SEA, ORD",EWR,OAK,2025-11-14 07:30:00,2025-11-14 23:59:00,1169,SEA,6

In [21]:
# Convert list-like columns into comma-separated strings
for col in ["layovers_out", "layovers_ret"]:
    df[col] = df[col].apply(lambda x: ", ".join(x) if isinstance(x, list) else x)

# Now export safely
df.to_csv("flight_data.csv", index=False)

In [3]:
# import json for flight_param
import json
import anthropic
from jsonschema import validate, ValidationError
import requests
with open('./functions/serp_params_one_way.json', 'r') as f:
    serp_params_round_trip = json.load(f)

with open('./functions/serp_params_one_way.json', 'r') as f:
    serp_params_one_way = json.load(f)


iata_schema = {
    "type": "object",
    "properties": {
        "from": {"type": "string", "description": "The city of the departure", "pattern": "^[A-Z]{3}$"},
        "destination": {"type": "string", "description": "The city of the destination", "pattern": "^[A-Z]{3}$"},
        "original_prompt": {"type": "string", "description": "The original prompt from the user"}
    }
}

In [4]:
import time
import requests
import pandas as pd

BASE_URL = "https://serpapi.com/search.json"

def flatten_direction(flights, direction, outbound_idx=None, outbound_airline=None):
    rows = []
    for f in flights:
        first, last = f["flights"][0], f["flights"][-1]
        rows.append({
            "direction": direction,
            "price": f.get("price"),
            "airline": f["flights"][0]["airline"],
            "from": first["departure_airport"]["id"],
            "to": last["arrival_airport"]["id"],
            "depart_time": first["departure_airport"]["time"],
            "arrive_time": last["arrival_airport"]["time"],
            "duration_min": f.get("total_duration"),
            "layovers": [l["id"] for l in f.get("layovers", [])],
            "carbon_kg": (f.get("carbon_emissions", {}).get("this_flight") or 0) // 1000,
            "token": f.get("departure_token"),
            "outbound_idx": outbound_idx,
            "paired_outbound_airline": outbound_airline,
        })
    return rows

def _get_all_outbounds(data):
    """Return a flat list of all outbound ‘flight bundles’ with departure_token from both sections."""
    all_outbounds = []
    for section_key in ("best_flights", "other_flights"):
        for f in data.get(section_key, []) or []:
            # Some ‘other_flights’ are actually return-direction candidates; keep only correct direction by checking origin/dest
            # (Optional) You can enforce OAK->EWR here if you like:
            # if not (f["flights"][0]["departure_airport"]["id"] == "OAK" and f["flights"][-1]["arrival_airport"]["id"] == "EWR"):
            #     continue
            all_outbounds.append(f)
    return all_outbounds

def data_to_df(data, params):
    # ---------- 1) collect ALL outbounds & flatten them ----------
    outbound_flights = _get_all_outbounds(data)
    outbound_rows = []
    for i, f in enumerate(outbound_flights):
        outbound_rows += flatten_direction([f], "outbound", outbound_idx=i, outbound_airline=f["flights"][0]["airline"])

    # ---------- 2) fetch returns for EACH outbound token ----------
    return_rows = []
    for i, f in enumerate(outbound_flights):
        token = f.get("departure_token")
        if not token:
            continue  # some entries might not have a token

        # Build params fresh each time; don't mutate a shared dict
        params["departure_token"] = token
        params["deep_search"] = True

        r = requests.get(BASE_URL, params=params, timeout=30)
        if r.status_code != 200:
            print(f"⚠️ Failed return fetch for outbound #{i} ({r.status_code})")
            continue

        jr = r.json()

        # SerpAPI can place the return options in various buckets; try them in order.
        ret_list = (
            jr.get("return_flights")
            or jr.get("best_flights")
            or jr.get("other_flights")
            or []
        )

        # Flatten as "return" and keep the linkage to the originating outbound
        return_rows += flatten_direction(
            ret_list, "return", outbound_idx=i, outbound_airline=f["flights"][0]["airline"]
        )

        time.sleep(1)  # polite rate limiting

    # ---------- 3) combine, de-dupe, and sort ----------
    df = pd.DataFrame(outbound_rows + return_rows)
    if not df.empty:
        dedupe_cols = ["direction", "from", "to", "depart_time", "arrive_time", "airline", "price"]
        df = (
            df.drop_duplicates(subset=dedupe_cols)
              .sort_values(["direction", "outbound_idx", "depart_time"])
              .reset_index(drop=True)
        )
    
    return transform_df(df)

In [5]:
from langchain_core.runnables import RunnableLambda, RunnableSequence

anthropic_api_key="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"
serp_api_key = "4a871fe30bb1fed4dc0850f01d384a2fff2dee8a74046b902109785f1a9bd730"

def anthropic_IATA_call(iata_result: str):
    client = anthropic.Anthropic(api_key=anthropic_api_key)
    
    response = client.messages.create(
        model="claude-sonnet-4-5",
        system="Return the IATA codes for the city provided by the user",
        tools=[{
            "name": "get_iata_codes",
            "description": "Return the IATA codes for the city provided by the user",
            "input_schema": iata_schema,
        }],
        tool_choice={"type": "tool", "name": "get_iata_codes"},
        messages=[{"role": "user", "content": f"Cities mapped: {iata_result}"}], 
        max_tokens=1024
    )
    iata_codes = response.content[0].input 
    return iata_codes

def get_flight_api_params(iata_result: dict):
    client = anthropic.Anthropic(api_key=anthropic_api_key)

    # build a new structured prompt using the IATA result
    prompt_text = (
        f"User Original Request: {iata_result.get('original_prompt')}"
        f"Departure: {iata_result.get('from')} | "
        f"Arrival: {iata_result.get('destination')} | "
        f"Original user request included these IATA codes."
    )

    response = client.messages.create(
        model="claude-sonnet-4-5",
        max_tokens=1024,
        tools=[{
            "name": "get_flight_api_params_round_trip",
            "description": "Follow the tool call schema to fill out the api params for google flights for round trip flights (if user asks for round trip flights or mentions a return date)",
            "input_schema": serp_params_round_trip,
        },
        {
            "name": "get_flight_api_params_one_way",
            "description": "Follow the tool call schema to fill out the api params for google flights for one way flights",
            "input_schema": serp_params_one_way,
        },
        ],
        tool_choice={"type": "tool", "name": "get_flight_api_params_round_trip"},
        messages=[{"role": "user", "content": prompt_text}],
    )

    # Extract structured params
    tool_block = response.content[0]
    params = tool_block.input  # final Google Flights params dict
    params['api_key'] = '4a871fe30bb1fed4dc0850f01d384a2fff2dee8a74046b902109785f1a9bd730'

    return params

def get_flight_params(user_prompt: str):
    iata_chain = RunnableLambda(anthropic_IATA_call)
    flight_chain = RunnableLambda(get_flight_api_params)
    pipeline = iata_chain | flight_chain
    result = pipeline.invoke(user_prompt)
    return result


def flight_tool(user_prompt: str):
    iata_chain = RunnableLambda(anthropic_IATA_call)
    flight_chain = RunnableLambda(get_flight_api_params)
    pipeline = iata_chain | flight_chain
    result = pipeline.invoke(user_prompt)

    # make a flight booking
    params = result
    params['deep_search'] = True
    url = "https://serpapi.com/search"
    response = requests.get(url, params=params)
    data = response.json()
    return data_to_df(data, params)

In [91]:
# pandas dataframe
import pandas as pd

params = get_flight_params("Book me a round trip flight from Oakland to Newark on outbound_date of 11/7/2025 this year returning on 11/14/2025")

In [11]:
data = flight_tool("Book me a round trip flight from Oakland to Newark on outbound_date of 11/7/2025 this year returning on 11/14/2025")

In [12]:
type(data)

pandas.core.frame.DataFrame

In [1]:
!pip install --force-reinstall pandas==2.1.4

Collecting pandas==2.1.4
  Using cached pandas-2.1.4-cp312-cp312-macosx_11_0_arm64.whl.metadata (18 kB)
Collecting numpy<2,>=1.26.0 (from pandas==2.1.4)
  Using cached numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl.metadata (61 kB)
Collecting python-dateutil>=2.8.2 (from pandas==2.1.4)
  Using cached python_dateutil-2.9.0.post0-py2.py3-none-any.whl.metadata (8.4 kB)
Collecting pytz>=2020.1 (from pandas==2.1.4)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas==2.1.4)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting six>=1.5 (from python-dateutil>=2.8.2->pandas==2.1.4)
  Using cached six-1.17.0-py2.py3-none-any.whl.metadata (1.7 kB)
Using cached pandas-2.1.4-cp312-cp312-macosx_11_0_arm64.whl (10.6 MB)
Using cached numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl (13.7 MB)
Using cached python_dateutil-2.9.0.post0-py2.py3-none-any.whl (229 kB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached six-1.17.0-py2.py3-none-any.whl (11 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, six, numpy, python-dateutil, pandas
  Attempting uninstall: pytz
    Found existing installation: pytz 2025.2
    Uninstalling pytz-2025.2:
      Successfully uninstalled pytz-2025.2
  Attempting uninstall: tzdata
    Found existing installation: tzdata 2025.2
    Uninstalling tzdata-2025.2:
      Successfully uninstalled tzdata-2025.2━━━━━━━━━━━━━━━━━━━━━━ 1/6 [tzdata]
  Attempting uninstall: six0m━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1/6 [tzdata]
    Found existing installation: six 1.17.0━━━━━━━━━━━━━━━━━━━ 1/6 [tzdata]
    Uninstalling six-1.17.0:m━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1/6 [tzdata]
      Successfully uninstalled six-1.17.0━━━━━━━━━━━━━━━━━━━━━━━━━ 2/6 [six]
  Attempting uninstall: numpy0m━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/6 [six]
    Found existing installation: numpy 1.26.4━━━━━━━━━━━━━━━━━ 2/6 [six]
    Uninstalling numpy-1.26.4:0m╺━━━━━━━━━━━━━━━━━━━ 3/6 [numpy]
      Successfully uninstalled numpy-1.26.4━━━━━━━━━━━━━━━━━━━ 3/6 [numpy]
  Attempting uninstall: python-dateutil[0m━━━━━━━━━━━━━━━━━━━ 3/6 [numpy]
    Found existing installation: python-dateutil 2.9.0.post0━━ 3/6 [numpy]
    Uninstalling python-dateutil-2.9.0.post0:━━━━━━━━━━━━━━━━━ 3/6 [numpy]
      Successfully uninstalled python-dateutil-2.9.0.post0━━━━ 3/6 [numpy]
  Attempting uninstall: pandas━━━━╸━━━━━━━━━━━━━ 4/6 [python-dateutil]
    Found existing installation: pandas 2.1.4[90m━━━━━━━━━━━━━ 4/6 [python-dateutil]
    Uninstalling pandas-2.1.4:╸━━━━━━━━━━━━━ 4/6 [python-dateutil]
      Successfully uninstalled pandas-2.1.4m━━━━━━━━━━━━━ 4/6 [python-dateutil]
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6/6 [pandas]2m5/6 [pandas]util]
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandasai 2.1.1 requires pandas==1.5.3, but you have pandas 2.1.4 which is incompatible.
Successfully installed numpy-1.26.4 pandas-2.1.4 python-dateutil-2.9.0.post0 pytz-2025.2 six-1.17.0 tzdata-2025.2

In [19]:
df.to_csv("flight_data.csv", index=False)

In [9]:
import time
import requests
import pandas as pd

BASE_URL = "https://serpapi.com/search.json"

def flatten_direction(flights, direction, outbound_idx=None, outbound_airline=None):
    rows = []
    for f in flights:
        first, last = f["flights"][0], f["flights"][-1]
        rows.append({
            "direction": direction,
            "price": f.get("price"),
            "airline": f["flights"][0]["airline"],
            "from": first["departure_airport"]["id"],
            "to": last["arrival_airport"]["id"],
            "depart_time": first["departure_airport"]["time"],
            "arrive_time": last["arrival_airport"]["time"],
            "duration_min": f.get("total_duration"),
            "layovers": [l["id"] for l in f.get("layovers", [])],
            "carbon_kg": (f.get("carbon_emissions", {}).get("this_flight") or 0) // 1000,
            "token": f.get("departure_token"),
            "outbound_idx": outbound_idx,
            "paired_outbound_airline": outbound_airline,
        })
    return rows

def _get_all_outbounds(data):
    """Return a flat list of all outbound ‘flight bundles’ with departure_token from both sections."""
    all_outbounds = []
    for section_key in ("best_flights", "other_flights"):
        for f in data.get(section_key, []) or []:
            # Some ‘other_flights’ are actually return-direction candidates; keep only correct direction by checking origin/dest
            # (Optional) You can enforce OAK->EWR here if you like:
            # if not (f["flights"][0]["departure_airport"]["id"] == "OAK" and f["flights"][-1]["arrival_airport"]["id"] == "EWR"):
            #     continue
            all_outbounds.append(f)
    return all_outbounds

def data_to_df(data, params):
    # ---------- 1) collect ALL outbounds & flatten them ----------
    outbound_flights = _get_all_outbounds(data)
    outbound_rows = []
    for i, f in enumerate(outbound_flights):
        outbound_rows += flatten_direction([f], "outbound", outbound_idx=i, outbound_airline=f["flights"][0]["airline"])

    # ---------- 2) fetch returns for EACH outbound token ----------
    return_rows = []
    for i, f in enumerate(outbound_flights):
        token = f.get("departure_token")
        if not token:
            continue  # some entries might not have a token

        # Build params fresh each time; don't mutate a shared dict
        params["departure_token"] = token
        params["deep_search"] = True

        r = requests.get(BASE_URL, params=params, timeout=30)
        if r.status_code != 200:
            print(f"⚠️ Failed return fetch for outbound #{i} ({r.status_code})")
            continue

        jr = r.json()

        # SerpAPI can place the return options in various buckets; try them in order.
        ret_list = (
            jr.get("return_flights")
            or jr.get("best_flights")
            or jr.get("other_flights")
            or []
        )

        # Flatten as "return" and keep the linkage to the originating outbound
        return_rows += flatten_direction(
            ret_list, "return", outbound_idx=i, outbound_airline=f["flights"][0]["airline"]
        )

        time.sleep(1)  # polite rate limiting

    # ---------- 3) combine, de-dupe, and sort ----------
    df = pd.DataFrame(outbound_rows + return_rows)
    if not df.empty:
        dedupe_cols = ["direction", "from", "to", "depart_time", "arrive_time", "airline", "price"]
        df = (
            df.drop_duplicates(subset=dedupe_cols)
              .sort_values(["direction", "outbound_idx", "depart_time"])
              .reset_index(drop=True)
        )
    
    return transform_df(df)

In [27]:
df

,direction,price,airline,from,to,depart_time,arrive_time,duration_min,layovers,carbon_kg,token,outbound_idx,paired_outbound_airline
0,outbound,437,Alaska,OAK,EWR,2025-11-07 20:03,2025-11-08 17:06,1083,[SEA],423,WyJDalJJY25CclJUTnRMWHBXTkZWQlFYYzBkMUZDUnkwdE...,0,Alaska
1,outbound,570,Delta,OAK,EWR,2025-11-07 05:55,2025-11-07 17:45,530,[SLC],357,WyJDalJJY25CclJUTnRMWHBXTkZWQlFYYzBkMUZDUnkwdE...,1,Delta
2,outbound,570,Delta,OAK,EWR,2025-11-07 16:51,2025-11-08 05:36,585,[SLC],368,WyJDalJJY25CclJUTnRMWHBXTkZWQlFYYzBkMUZDUnkwdE...,2,Delta
3,outbound,628,Alaska,OAK,EWR,2025-11-07 14:49,2025-11-08 05:59,730,[SEA],374,WyJDalJJY25CclJUTnRMWHBXTkZWQlFYYzBkMUZDUnkwdE...,3,Alaska
4,outbound,712,Alaska,OAK,EWR,2025-11-07 06:30,2025-11-07 18:29,539,[SEA],450,WyJDalJJY25CclJUTnRMWHBXTkZWQlFYYzBkMUZDUnkwdE...,4,Alaska
5,outbound,914,Alaska,OAK,EWR,2025-11-07 19:12,2025-11-08 11:15,783,"[PDX, ORD]",536,WyJDalJJY25CclJUTnRMWHBXTkZWQlFYYzBkMUZDUnkwdE...,5,Alaska
6,outbound,1058,Alaska,OAK,EWR,2025-11-07 20:03,2025-11-08 11:15,732,"[SEA, ORD]",539,WyJDalJJY25CclJUTnRMWHBXTkZWQlFYYzBkMUZDUnkwdE...,6,Alaska
7,return,437,Alaska,EWR,OAK,2025-11-14 07:30,2025-11-14 23:59,1169,[SEA],408,None,0,Alaska
8,return,512,Alaska,EWR,OAK,2025-11-14 07:30,2025-11-14 13:55,565,[SEA],374,None,0,Alaska
9,return,457,Alaska,EWR,OAK,2025-11-14 17:30,2025-11-14 23:59,569,[SEA],462,None,0,Alaska
10,return,457,Alaska,EWR,OAK,2025-11-14 19:29,2025-11-15 10:25,1076,[SEA],463,None,0,Alaska
11,return,570,Delta,EWR,OAK,2025-11-14 06:51,2025-11-14 11:48,477,[SLC],367,None,1,Delta
12,return,990,Delta,EWR,OAK,2025-11-14 09:35,2025-11-14 16:11,576,"[DTW, SLC]",466,None,1,Delta
13,return,570,Delta,EWR,OAK,2025-11-14 18:51,2025-11-15 00:03,492,[SLC],379,None,1,Delta
14,return,628,Alaska,EWR,OAK,2025-11-14 07:30,2025-11-14 23:59,1169,[SEA],408,None,3,Alaska
15,return,703,Alaska,EWR,OAK,2025-11-14 07:30,2025-11-14 13:55,565,[SEA],374,None,3,Alaska
16,return,647,Alaska,EWR,OAK,2025-11-14 17:30,2025-11-14 23:59,569,[SEA],462,None,3,Alaska
17,return,647,Alaska,EWR,OAK,2025-11-14 19:29,2025-11-15 10:25,1076,[SEA],463,None,3,Alaska
18,return,712,Alaska,EWR,OAK,2025-11-14 07:30,2025-11-14 23:59,1169,[SEA],408,None,4,Alaska
19,return,787,Alaska,EWR,OAK,2025-11-14 07:30,2025-11-14 13:55,565,[SEA],374,None,4,Alaska
20,return,732,Alaska,EWR,OAK,2025-11-14 17:30,2025-11-14 23:59,569,[SEA],462,None,4,Alaska
21,return,732,Alaska,EWR,OAK,2025-11-14 19:29,2025-11-15 10:25,1076,[SEA],463,None,4,Alaska
22,return,914,Alaska,EWR,OAK,2025-11-14 07:30,2025-11-14 23:59,1169,[SEA],408,None,5,Alaska
23,return,989,Alaska,EWR,OAK,2025-11-14 07:30,2025-11-14 13:55,565,[SEA],374,None,5,Alaska
24,return,934,Alaska,EWR,OAK,2025-11-14 17:30,2025-11-14 23:59,569,[SEA],462,None,5,Alaska
25,return,934,Alaska,EWR,OAK,2025-11-14 19:29,2025-11-15 10:25,1076,[SEA],463,None,5,Alaska
26,return,1058,Alaska,EWR,OAK,2025-11-14 07:30,2025-11-14 23:59,1169,[SEA],408,None,6,Alaska
27,return,1133,Alaska,EWR,OAK,2025-11-14 07:30,2025-11-14 13:55,565,[SEA],374,None,6,Alaska
28,return,1078,Alaska,EWR,OAK,2025-11-14 17:30,2025-11-14 23:59,569,[SEA],462,None,6,Alaska
29,return,1078,Alaska,EWR,OAK,2025-11-14 19:29,2025-11-15 10:25,1076,[SEA],463,None,6,Alaska

In [10]:
import pandas as pd

# --- start from your existing df (the long stacked one you printed) ---
def transform_df(df):
    df = df.copy()

    # ensure datetimes
    df["depart_time"] = pd.to_datetime(df["depart_time"])
    df["arrive_time"] = pd.to_datetime(df["arrive_time"])

    # split
    out = df[df["direction"] == "outbound"].copy()
    ret = df[df["direction"] == "return"].copy()

    # keep only columns we need and rename to _out / _ret (keep airline/price for join)
    out = out.rename(columns={
        "from": "from_out",
        "to": "to_out",
        "depart_time": "depart_time_out",
        "arrive_time": "arrive_time_out",
        "duration_min": "duration_min_out",
        "layovers": "layovers_out",
        "price": "price_out",
    })
    ret = ret.rename(columns={
        "from": "from_ret",
        "to": "to_ret",
        "depart_time": "depart_time_ret",
        "arrive_time": "arrive_time_ret",
        "duration_min": "duration_min_ret",
        "layovers": "layovers_ret",
        "price": "price_ret",
    })

    # enforce pairing rule: same outbound_idx AND same airline AND same price
    # if multiple returns satisfy this, pick earliest return depart; tie-break shorter duration
    ret_sorted = ret.sort_values(["outbound_idx", "airline", "price_ret", "depart_time_ret", "duration_min_ret"])
    best_ret = (
        ret_sorted.groupby(["outbound_idx", "airline", "price_ret"], as_index=False)
                .first()
    )

    # join outbound to best matching return
    pairs = out.merge(
        best_ret,
        left_on=["outbound_idx", "airline", "price_out"],
        right_on=["outbound_idx", "airline", "price_ret"],
        how="inner",
    )

    # compute total price (robust even if prices differ in edge cases)
    pairs["total_price"] = pairs["price_out"]  # (or pairs["price_ret"])

    
    pairs.insert(0, "pair_id", range(1, len(pairs) + 1))

    
    df = pairs[[
        "pair_id",
        "total_price",
        "airline",
        "from_out", "to_out",
        "depart_time_out", "arrive_time_out", "duration_min_out", "layovers_out",
        "from_ret", "to_ret",
        "depart_time_ret", "arrive_time_ret", "duration_min_ret", "layovers_ret",
        "outbound_idx",
    ]].sort_values(["depart_time_out", "pair_id"]).reset_index(drop=True)

    return df

In [66]:
df = transform_df(df)